.App {
  text-align: center;
}
.App-title-container {
  display: flex;
  justify-content: center;
}
.App-title {
  color: #fec859;
}

.App-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.App-content {
  font-size: calc(10px + 2vmin);
}

.gif-links {
  display: grid;
  justify-content: center;
}

@media (min-width: 900px) {
  .App-content {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (min-width: 1200px) {
  .App-content {
    margin-left: 200px;
    margin-right: 200px;
  }
}